// Body
$body-bg: #fff;

// Typography
$font-family-poynter: poynter-oldstyle-text, serif;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #fdbfcd;
$red: #cd6381;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
