// reset css -ress.css-
@import url('https://unpkg.com/ress/dist/ress.min.css');

// Variables
@import 'variables';
// mixin
@import '_mixin';

html,
body {
    font-size: 100%;
}
ul,ol{
  list-style: none;
}

// ***------------------------ Wrapper
#wrapper {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;

  //* Mediaqueries max width 812 *
  @include mq(mdMax) {
      width: 90%;
  }
}

// ***------------------------ header
#header {
  width: 100%;
  position: relative;
  margin: 0 auto;
  min-height: 160px;
  box-sizing: border-box;
  padding: 10px 0;

  .header--hedding {
    position: absolute;
    top: 23%;
    left: 0;
    font-size: 60px;
    font-size: 3.75rem;
    font-family: #{$font-family-poynter};
    font-weight: 400;
    font-style: normal;
    transform: rotate(-20deg);
    color: #1d83c4;
  }

  //* Mediaqueries max width 480 *
  @include mq(sm) {
    min-height: 100px;
    .header--hedding {
      font-size: 40px;
      font-size: 2.5rem;
    }
  }
}

// ***------------------------ contents
// Task input Block
.taskInput--block {
  max-width: 662px;
  margin: 0 auto 10px auto;
  width: 100%;
  border-bottom: 1px solid #bbcbd5;
  padding: 0 10px 10px;

  &__inputBlock {
    display: inline-block;
    width: 76%;
    margin-right: 1%;
  }

  &__btnBlock {
    display: inline-block;
    width: 21%;
  }

  &__input {
    width: 100%;
    padding: 5px;
    line-height: 18px;
    font-size: 18px;
    font-size: 1.125rem;
    text-align: left;
    border: none;
    box-sizing: border-box;
    color: #555;
    &::placeholder {
        opacity: 0.5;
    }

    &:focus {
      outline: none;
    }
  }

  &__btn {
    width: 100%;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    background-color: #6d9fbe;
    border: none;
    box-sizing: border-box;
    font-family: #{$font-family-poynter};
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    font-size: 1.125rem;
    &:hover{
      opacity: 0.7;
    }
    &:focus {
      outline: none;
    }
    &:disabled{
      background-color: #bbcbd5;
      &:hover{
        opacity: 1;
      }
    }
  }
}
// validate message Area
.taskValidete-block{
  max-width: 662px;
  width: 100%;
  min-height: 30px;
  margin: 0 auto 10px auto;
  &__text{
    font-size: 18px;
    font-size: 1.125rem;
    color: #be6583;
  }
}
// Select Task -current or Archive- Tub
.tackTab-block{
  max-width: 662px;
  width: 100%;
  margin: 0 auto 20px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  &__item{
    display: flex;
    flex: 0 0 31%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    -webkit-box-shadow: 1px 2px 3px 0 rgba(157, 168, 179, 0.6);
    -moz-box-shadow: 1px 2px 3px 0 rgba(157, 168, 179, 0.6);
    box-shadow: 1px 2px 3px 0 rgba(157, 168, 179, 0.6);
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    color: #c1cdd4;
    box-sizing: border-box;
    &:hover{
      background-color: rgba(217, 231, 239, 0.1);
    }
  }
  &__title{
    font-size: 18px;
    font-size: 1.125rem;
    //* Mediaqueries max width 812 *
    @include mq(sm) {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }
  .is-active{
    color: #1d83c4;
    background-color: rgba(227, 239, 247, 0.1);
    &:hover{
      background-color: rgba(217, 231, 239, 0.1);
    }
  }
}

// Task display area
.taskDisplay-block {
  max-width: 662px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 20px 10px 20px;
  -webkit-box-shadow: 1px 2px 3px 0 rgba(157, 168, 179, 0.6);
  -moz-box-shadow: 1px 2px 3px 0 rgba(157, 168, 179, 0.6);
  box-shadow: 1px 2px 3px 0 rgba(157, 168, 179, 0.6);
  box-sizing: border-box;
  border-radius: 3px;
  &--messe{
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1;
    color: #555;
    padding-top: 15px;
    padding-bottom: 5px;
    //* Mediaqueries max width 812 *
    @include mq(sm) {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }
  &--list{
    list-style: none;
  }
  &--item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bbcbd5;
    padding: 15px 0 10px 0;
    min-height: 50px;
    box-sizing: border-box;
    &:last-child {
        border-bottom: none;
    }
  }
  input[type=checkbox] {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    opacity: 0;
    width: 20px;
    height: 20px;
    &:focus {
      outline: none;
    }
  }
  &--group{
    display: inline-block;
    width: calc(100% - 13%);
    position: relative;
    //* Mediaqueries max width 480 *
    @include mq(sm) {
      width: calc(100% - 20%);
    }
  }
  &--checkBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
    cursor: pointer;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid #e9eef1;
      border-radius: 3px;
      top: 0;
      left: 0;
    }
    &::after{
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: "\f00c";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      font-size: 1.3rem;
      opacity: 0;
      color: #91ba89;
    }
  }
  &--text{
    display: inline-block;
    width: calc(100% - 25px);
    margin-left: 25px;
    word-break: break-all;
    font-size: 18px;
    font-size: 1.125rem;
    color:  #555;
    //* Mediaqueries max width 480 *
    @include mq(sm) {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }

  input[type=checkbox]:checked + &--checkBox::after{
    opacity: 1;
    animation: fadeIn 2s ease 0s 1 normal;
  }
  &__edit{
    border: none;
    width: calc(100% - 25px);
    margin-left: 25px;
    word-break: break-all;
    font-size: 18px;
    font-size: 1.125rem;
    text-align: left;
    border: none;
    box-sizing: border-box;
    color: #555;
    &::placeholder {
      opacity: 0.5;
    }
    &:focus {
      outline: none;
    }
    //* Mediaqueries max width 480 *
    @include mq(sm) {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }
  &__validete{
    width: calc(100% - 25px);
    margin-left: 25px;
    &--text{
      @extend .taskValidete-block__text;
    }
  }

  &--icon__delete {
    width: 4%;
    margin: 0 1px;
    cursor: pointer;
    .fa-trash {
      color: #c1cdd4;
      font-size: 1.5rem;
      //* Mediaqueries max width 480 *
      @include mq(sm) {
        font-size: 16px;
        font-size: 1rem;
      }
    }
    &:hover .fa-trash {
      color: #79b5dc;
    }
  }

  &--icon__edit {
    width: 6%;
    margin: 0 1px;
    cursor: pointer;
    .fa-pen-nib {
      color: #c1cdd4;
      font-size: 1.5rem;
      //* Mediaqueries max width 480 *
      @include mq(sm) {
        font-size: 16px;
        font-size: 1rem;
      }
    }
    &:hover .fa-pen-nib {
      color: #e5c237;
    }
  }
  &--icon__save {
    width: 6%;
    margin: 0 1px;
    .fa-save {
      color: #c1cdd4;
      font-size: 1.5rem;
      //* Mediaqueries max width 480 *
      @include mq(sm) {
        font-size: 16px;
        font-size: 1rem;
      }
    }
    button{
      cursor: pointer;
      button:hover .fa-save{
        color: #eaa25b;
      }
    }
    button:disabled{
      cursor: default;
      & .fa-save,
      &:hover .fa-save{
      color: #dadee0;
      }
    }
  }
}

// ***------------------------ footer

// ***------------------------ Animetion setting
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


// ***------------------------ mixin
@import '_modal';

// ***------------------------ utiliity
@import '_utiliity';
