@import url(https://unpkg.com/ress/dist/ress.min.css);@charset "UTF-8";

html,
body {
  font-size: 100%;
}

ul,
ol {
  list-style: none;
}

#wrapper {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 812px) {
  #wrapper {
    width: 90%;
  }
}

#header {
  width: 100%;
  position: relative;
  margin: 0 auto;
  min-height: 160px;
  box-sizing: border-box;
  padding: 10px 0;
}

#header .header--hedding {
  position: absolute;
  top: 23%;
  left: 0;
  font-size: 60px;
  font-size: 3.75rem;
  font-family: poynter-oldstyle-text, serif;
  font-weight: 400;
  font-style: normal;
  transform: rotate(-20deg);
  color: #1d83c4;
}

@media screen and (max-width: 480px) {
  #header {
    min-height: 100px;
  }

  #header .header--hedding {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

.taskInput--block {
  max-width: 662px;
  margin: 0 auto 10px auto;
  width: 100%;
  border-bottom: 1px solid #bbcbd5;
  padding: 0 10px 10px;
}

.taskInput--block__inputBlock {
  display: inline-block;
  width: 76%;
  margin-right: 1%;
}

.taskInput--block__btnBlock {
  display: inline-block;
  width: 21%;
}

.taskInput--block__input {
  width: 100%;
  padding: 5px;
  line-height: 18px;
  font-size: 18px;
  font-size: 1.125rem;
  text-align: left;
  border: none;
  box-sizing: border-box;
  color: #555;
}

.taskInput--block__input::-webkit-input-placeholder {
  opacity: 0.5;
}

.taskInput--block__input::-moz-placeholder {
  opacity: 0.5;
}

.taskInput--block__input:-ms-input-placeholder {
  opacity: 0.5;
}

.taskInput--block__input::-ms-input-placeholder {
  opacity: 0.5;
}

.taskInput--block__input::placeholder {
  opacity: 0.5;
}

.taskInput--block__input:focus {
  outline: none;
}

.taskInput--block__btn {
  width: 100%;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  background-color: #6d9fbe;
  border: none;
  box-sizing: border-box;
  font-family: poynter-oldstyle-text, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.125rem;
}

.taskInput--block__btn:hover {
  opacity: 0.7;
}

.taskInput--block__btn:focus {
  outline: none;
}

.taskInput--block__btn:disabled {
  background-color: #bbcbd5;
}

.taskInput--block__btn:disabled:hover {
  opacity: 1;
}

.taskValidete-block {
  max-width: 662px;
  width: 100%;
  min-height: 30px;
  margin: 0 auto 10px auto;
}

.taskValidete-block__text,
.taskDisplay-block__validete--text {
  font-size: 18px;
  font-size: 1.125rem;
  color: #be6583;
}

.tackTab-block {
  max-width: 662px;
  width: 100%;
  margin: 0 auto 20px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.tackTab-block__item {
  display: flex;
  flex: 0 0 31%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 1px 2px 3px 0 rgba(157, 168, 179, 0.6);
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  color: #c1cdd4;
  box-sizing: border-box;
}

.tackTab-block__item:hover {
  background-color: rgba(217, 231, 239, 0.1);
}

.tackTab-block__title {
  font-size: 18px;
  font-size: 1.125rem;
}

@media screen and (max-width: 480px) {
  .tackTab-block__title {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.tackTab-block .is-active {
  color: #1d83c4;
  background-color: rgba(227, 239, 247, 0.1);
}

.tackTab-block .is-active:hover {
  background-color: rgba(217, 231, 239, 0.1);
}

.taskDisplay-block {
  max-width: 662px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 20px 10px 20px;
  box-shadow: 1px 2px 3px 0 rgba(157, 168, 179, 0.6);
  box-sizing: border-box;
  border-radius: 3px;
}

.taskDisplay-block--messe {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1;
  color: #555;
  padding-top: 15px;
  padding-bottom: 5px;
}

@media screen and (max-width: 480px) {
  .taskDisplay-block--messe {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.taskDisplay-block--list {
  list-style: none;
}

.taskDisplay-block--item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bbcbd5;
  padding: 15px 0 10px 0;
  min-height: 50px;
  box-sizing: border-box;
}

.taskDisplay-block--item:last-child {
  border-bottom: none;
}

.taskDisplay-block input[type=checkbox] {
  position: absolute;
  top: 0px;
  left: 0px;
  border: none;
  opacity: 0;
  width: 20px;
  height: 20px;
}

.taskDisplay-block input[type=checkbox]:focus {
  outline: none;
}

.taskDisplay-block--group {
  display: inline-block;
  width: calc(100% - 13%);
  position: relative;
}

@media screen and (max-width: 480px) {
  .taskDisplay-block--group {
    width: calc(100% - 20%);
  }
}

.taskDisplay-block--checkBox {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
  cursor: pointer;
}

.taskDisplay-block--checkBox::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #e9eef1;
  border-radius: 3px;
  top: 0;
  left: 0;
}

.taskDisplay-block--checkBox::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F00C";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  font-size: 1.3rem;
  opacity: 0;
  color: #91ba89;
}

.taskDisplay-block--text {
  display: inline-block;
  width: calc(100% - 25px);
  margin-left: 25px;
  word-break: break-all;
  font-size: 18px;
  font-size: 1.125rem;
  color: #555;
}

@media screen and (max-width: 480px) {
  .taskDisplay-block--text {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

input[type=checkbox]:checked + .taskDisplay-block--checkBox::after {
  opacity: 1;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
          animation: fadeIn 2s ease 0s 1 normal;
}

.taskDisplay-block__edit {
  border: none;
  width: calc(100% - 25px);
  margin-left: 25px;
  word-break: break-all;
  font-size: 18px;
  font-size: 1.125rem;
  text-align: left;
  border: none;
  box-sizing: border-box;
  color: #555;
}

.taskDisplay-block__edit::-webkit-input-placeholder {
  opacity: 0.5;
}

.taskDisplay-block__edit::-moz-placeholder {
  opacity: 0.5;
}

.taskDisplay-block__edit:-ms-input-placeholder {
  opacity: 0.5;
}

.taskDisplay-block__edit::-ms-input-placeholder {
  opacity: 0.5;
}

.taskDisplay-block__edit::placeholder {
  opacity: 0.5;
}

.taskDisplay-block__edit:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .taskDisplay-block__edit {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.taskDisplay-block__validete {
  width: calc(100% - 25px);
  margin-left: 25px;
}

.taskDisplay-block--icon__delete {
  width: 4%;
  margin: 0 1px;
  cursor: pointer;
}

.taskDisplay-block--icon__delete .fa-trash {
  color: #c1cdd4;
  font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
  .taskDisplay-block--icon__delete .fa-trash {
    font-size: 16px;
    font-size: 1rem;
  }
}

.taskDisplay-block--icon__delete:hover .fa-trash {
  color: #79b5dc;
}

.taskDisplay-block--icon__edit {
  width: 6%;
  margin: 0 1px;
  cursor: pointer;
}

.taskDisplay-block--icon__edit .fa-pen-nib {
  color: #c1cdd4;
  font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
  .taskDisplay-block--icon__edit .fa-pen-nib {
    font-size: 16px;
    font-size: 1rem;
  }
}

.taskDisplay-block--icon__edit:hover .fa-pen-nib {
  color: #e5c237;
}

.taskDisplay-block--icon__save {
  width: 6%;
  margin: 0 1px;
}

.taskDisplay-block--icon__save .fa-save {
  color: #c1cdd4;
  font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
  .taskDisplay-block--icon__save .fa-save {
    font-size: 16px;
    font-size: 1rem;
  }
}

.taskDisplay-block--icon__save button {
  cursor: pointer;
}

.taskDisplay-block--icon__save button button:hover .fa-save {
  color: #eaa25b;
}

.taskDisplay-block--icon__save button:disabled {
  cursor: default;
}

.taskDisplay-block--icon__save button:disabled .fa-save,
.taskDisplay-block--icon__save button:disabled:hover .fa-save {
  color: #dadee0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn,
.modal--btn__delete,
.modal--btn {
  border: none;
  border-radius: 5px;
  padding: 4px 16px;
  color: #fff;
  transition: background-color 0.25s;
  cursor: pointer;
}

.modal.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-window {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  width: 40%;
}

.modal-content {
  padding: 10px 20px;
}

.modal-footer {
  padding: 10px;
}

.modal-footer--btnBlock {
  text-align: center;
}

.modal-footer--btnBlockItem {
  display: inline-block;
  margin: 0 5px;
}

.modal--btn {
  background-color: #1d83c4;
}

.modal--btn__delete {
  background-color: #cd6381;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.4s;
}

.modal-enter-active .modal-window,
.modal-leave-active .modal-window {
  transition: opacity 0.4s, transform 0.4s;
}

.modal-leave-active {
  transition: opacity 0.6s ease 0.4s;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
}

.modal-enter .modal-window,
.modal-leave-to .modal-window {
  opacity: 0;
  transform: translateY(-20px);
}

/* -----------------------------------------------------*

utillity

*-------------------------------------------------------*/

/* Clear */

.clear {
  clear: both;
}

.floatNon {
  float: none;
}

/* no display */

.display-none {
  display: none !important;
}

/* display Block */

/* margin */

.m0 {
  margin: 0 !important;
}

.m10 {
  margin: 10px !important;
}

.m20 {
  margin: 20px !important;
}

.m0a {
  margin: 0 auto;
}

.m10a {
  margin: 10px auto;
}

.m20a {
  margin: 20px auto;
}

/* margin-top */

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

/* margin-left */

.ml0 {
  margin-left: 0 !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

/* margin-right */

.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

/* margin-botttom */

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

/* padding */

.p0 {
  padding: 0 !important;
}

.p10 {
  padding: 10px !important;
}

.p20 {
  padding: 20px !important;
}

/* padding-top */

.pt0 {
  padding-top: 0 !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

/* padding-left */

.pl0 {
  padding-left: 0 !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pl40 {
  padding-left: 40px !important;
}

/* padding-right */

.pr0 {
  padding-right: 0 !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pr40 {
  padding-right: 40px !important;
}

/* padding-bottom */

.pb0 {
  padding-bottom: 0 !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 30px !important;
}

.pb25 {
  padding-bottom: 35px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

@media screen and (max-width: 480px) {
  /* margin-top */

  .mt30 {
    margin-top: 15px !important;
  }

  .mt35 {
    margin-top: 17px !important;
  }

  .mt40 {
    margin-top: 20px !important;
  }

  .mt45 {
    margin-top: 22px !important;
  }

  .mt50 {
    margin-top: 25px !important;
  }

  /* margin-botttom */

  .mb30 {
    margin-bottom: 15px !important;
  }

  .mb35 {
    margin-bottom: 17px !important;
  }

  .mb40 {
    margin-bottom: 20px !important;
  }

  .mb45 {
    margin-bottom: 22px !important;
  }

  .mb50 {
    margin-bottom: 25px !important;
  }

  /* padding-top */

  .pt30 {
    padding-top: 15px !important;
  }

  .pt35 {
    padding-top: 17px !important;
  }

  .pt40 {
    padding-top: 20px !important;
  }

  .pt45 {
    padding-top: 22px !important;
  }

  .pt50 {
    padding-top: 25px !important;
  }

  /* padding-bottom */

  .pb30 {
    padding-bottom: 15px !important;
  }

  .pb35 {
    padding-bottom: 17px !important;
  }

  .pb40 {
    padding-bottom: 20px !important;
  }

  .pb45 {
    padding-bottom: 22px !important;
  }

  .pb50 {
    padding-bottom: 25px !important;
  }
}

/* text-align */

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

/* vertical-align */

.vertical-top {
  vertical-align: top !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

.vertical-bottom {
  vertical-align: bottom !important;
}

/* font-size */

.fontLL {
  font-size: 18px;
}

.fontL {
  font-size: 16px;
}

.fontM {
  font-size: 14px;
}

.fonts {
  font-size: 12px;
}

