<template>
  <section class="container">
    <dl class="taskInput--block">
      <dd class="taskInput--block__inputBlock">
        <input
          type="text"
          placeholder="Your New Task"
          class="taskInput--block__input"
          v-model="task.items"
        />
      </dd>
      <dd class="taskInput--block__btnBlock">
        <input
          type="submit"
          value="Add"
          name="submit"
          class="taskInput--block__btn"
          @click="createTasks()"
          :disabled="validateRequir"
        />
      </dd>
    </dl>
    <div class="taskValidete-block">
      <p class="taskValidete-block__text" v-if="this.taskItemsLen > 50">{{validateLength}}</p>
    </div>
    <ul class="tackTab-block">
      <li
        v-bind:class="{'is-active': isActive('current')}"
        class="tackTab-block__item"
        v-on:click="fetchTaskList(0)"
      >
        <h2 class="tackTab-block__title">Current Tasks</h2>
      </li>
      <li
        v-bind:class="{'is-active': isActive('completed')}"
        class="tackTab-block__item"
        v-on:click="fetchTaskList(1)"
      >
        <h2 class="tackTab-block__title">Completed Tasks</h2>
      </li>
      <li
        v-bind:class="{'is-active': isActive('all')}"
        class="tackTab-block__item"
        v-on:click="fetchTaskList()"
      >
        <h2 class="tackTab-block__title">All Tasks</h2>
      </li>
    </ul>
    <ul class="taskDisplay-block taskDisplay-block--list" v-show="list.length">
      <li class="taskDisplay-block--item" v-for="task in list" v-bind:key="task.id">
        <label class="taskDisplay-block--group">
          <input type="checkbox" v-model="task.completed" v-on:click="doneTask(task.id)" />
          <span class="taskDisplay-block--checkBox"></span>
          <span class="taskDisplay-block--text" v-if="task !== editingTask">{{ task.items }}</span>
          <input
            class="taskDisplay-block__edit"
            v-if="task === editingTask"
            v-autofocus
            type="text"
            placeholder="New task"
            v-model="editingTask.items"
          />
          <div class="taskDisplay-block__validete" v-if="task === editingTask">
            <p
              class="taskDisplay-block__validete--text"
              v-if="editValidateLength"
            >{{validateMessage}}</p>
          </div>
        </label>
        <span
          class="taskDisplay-block--icon__edit"
          v-if="task !== editingTask"
          @click="editTasks(task)"
        >
          <i class="fas fa-pen-nib"></i>
        </span>
        <span class="taskDisplay-block--icon__save" v-else>
          <button v-bind:disabled="editValidateOver" @click="endEditing(task)">
            <i class="fas fa-save"></i>
          </button>
        </span>
        <!-- <span class="taskDisplay-block--icon__delete" @click="deleteTask(task.id)">
          <i class="fas fa-trash"></i>
        </span>-->
        <span class="taskDisplay-block--icon__delete" @click="openModal(task.id)">
          <i class="fas fa-trash"></i>
        </span>
      </li>
    </ul>
    <div class="taskDisplay-block" v-show="!list.length">
      <p class="taskDisplay-block--messe">Nothing to Todo Task</p>
    </div>
    <Modal @close="closeModal" v-if="showModal" :task-id="taskId">
      <p>Would you like to delete a task item?</p>
      <template slot="footer">
        <ul class="modal-footer--btnBlock">
          <li class="modal-footer--btnBlockItem">
            <button @click="closeModal()" class="modal--btn">Cancel</button>
          </li>
          <li class="modal-footer--btnBlockItem">
            <button @click="deleteTask(taskId); closeModal()" class="modal--btn__delete">Delete</button>
          </li>
        </ul>
      </template>
    </Modal>
  </section>
</template>

<script>
import Modal from "./modal";
export default {
  components: {
    Modal
  },
  directives: {
    autofocus: {
      inserted(el) {
        el.focus();
      }
    }
  },
  data() {
    return {
      nothingTaskMessage: "Nothing Your Task",
      list: [],
      task: {
        id: "",
        items: "",
        completed: ""
      },
      taskItemsLen: "",
      editingTask: {},
      editingTaskItemsLen: "",
      completedItem: "current",
      checked: false,
      validateMessage: "",
      showModal: false,
      taskId: ""
    };
  },
  created() {
    this.fetchTaskList(0);
  },
  methods: {
    // taskをDBより取得
    fetchTaskList(completed = null) {
      let url = "";
      if (completed === null) {
        // 全てのタスク
        url = "/api/all_tasks";
        this.setActive("all");
      } else if (completed === 0) {
        // 現在のタスク
        url = "/api/current_tasks";
        this.setActive("current");
        //this.checked = false;
      } else if (completed === 1) {
        // 完了済みのタスク
        url = "/api/completed_tasks";
        this.setActive("completed");
        //this.checked = false;
      }
      axios.get(url).then(res => {
        this.list = res.data;
        for (let i = 0; i < this.list.length; i++) {
          if (this.list[i].completed === 1) {
            this.checked = true;
          }
        }
      });
    },
    isActive(menuItem) {
      return this.completedItem === menuItem;
    },
    setActive(menuItem) {
      this.completedItem = menuItem;
    },
    createTasks() {
      axios
        .post("/api/create_task", this.task)
        .then(res => {
          this.task.items = "";
          this.fetchTaskList();
        })
        .catch(err => {
          console.log(err);
        });
    },
    editTasks(task) {
      this.editingTask = task;
    },
    endEditing(task) {
      this.editingTask = {};
      if (task.items.trim() === "") {
        this.deleteTask(task.id);
      } else {
        axios
          .post("/api/edit_task", task)
          .then(res => {
            console.log("success!!! ^-^");
          })
          .catch(err => {
            console.log(err);
          });
      }
    },
    deleteTask(id) {
      axios
        .post("/api/delete_task/" + id)
        .then(res => {
          this.fetchTaskList();
        })
        .catch(err => {
          console.log(err);
        });
    },
    doneTask(id) {
      axios
        .post("/api/done_task/" + id)
        .then(res => {
          this.fetchTaskList();
        })
        .catch(err => {
          console.log(err);
        });
    },
    openModal(id) {
      this.taskId = id;
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    }
  },
  computed: {
    validateRequir: function() {
      this.taskItemsLen = this.task.items.length;
      if (this.taskItemsLen === 0) {
        return true;
      } else if (this.taskItemsLen > 50) {
        return true;
      }
    },
    validateLength: function() {
      this.taskItemsLen = this.task.items.length;
      return (this.validateMessage = "文字数は50文字以内で入力してください。");
    },
    editValidateOver: function() {
      this.editingTaskItemsLen = this.editingTask.items.length;
      if (this.editingTaskItemsLen > 50) {
        return true;
      }
    },
    editValidateLength: function() {
      this.editingTaskItemsLen = this.editingTask.items.length;
      if (this.editingTaskItemsLen > 50) {
        return (this.validateMessage =
          "文字数は50文字以内で入力してください。");
      }
    }
  }
};
</script>
